/* Descendant combinator */
form h1 {
    color: hsl(231, 48%, 48%);
}

/* Child combinator */
form > p {
    font-size: 36px;
    color: #c2185b;
}

/* Adjacent sibling combinator  */
label + input {
    display: block;
    clear: both;
}

* + fieldset {
    margin: .5em 0;
}

/* General sibling combinator */
label ~ input {
    display: block;
}

/* Attribute selector */
[type=submit] {
    background: seagreen;
    border: 0;
    border-radius: 1000px;
    color: #fff;
    font-size: 18pt;
    padding: 10px 20px;
}
